@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

*,
::before,
::after {
    box-sizing: border-box;
    margin: unset;
    padding: unset;
}

:root {
    --color-dark-cyan: hsl(185, 75%, 39%);
    --color-dark-blue: hsl(229, 23%, 23%);
    --color-grayish-blue: hsl(227, 10%, 46%);
    --color-dark-gray: hsl(0, 0%, 59%);
    --font-family-kumbh: "Kumbh Sans", sans-serif;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

body {
    height: 100dvh;
    width: 100dvw;
    font-family: var(--font-family-kumbh);
    background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 450px, 450px;
    background-position: -150px -150px, calc(100% + 100px) calc(100% + 100px);
    background-color: var(--color-dark-cyan);
    background-blend-mode: screen;
    color: var(--color-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

@media (min-width: 768px) {
    body {
        background-size: 700px 700px;
    }
}

.card-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 450px;
    border-radius: 1em;
    max-width: 400px;
    margin-inline: 1em;
}

.card-header {
    position: relative;
    height: 200px;
}

.card-header img {
    border-start-start-radius: 1em;
    border-start-end-radius: 1em;
}

.avatar {
    width: 100px;
    height: 100px;
    border: 4px solid white;
    border-radius: 5em;
    position: absolute;
    top: calc(100% - 50px);
    left: calc(50% - 50px);
}

.avatar img {
    border-radius: 5em;
}

.info {
    text-align: center;
    border-bottom: 1px solid var(--color-dark-gray);
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
}

.bio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 0.5em;
    font-size: 1.2rem;
}

.name {
    font-weight: 700;
}

.age,
.city {
    color: var(--color-dark-gray);
}

.stat-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-block: 1em;
    text-align: center;
}

.stat-header {
    font-weight: 700;
    font-size: 1.2rem;
}

.stat-body {
    color: var(--color-dark-gray);
    font-size: 0.8rem;
    margin-top: 0.3em;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
